version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ticketmanager
      POSTGRES_USER: tm
      POSTGRES_PASSWORD: tm
    ports: ["5432:5432"]
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U tm -d ticketmanager"]
      interval: 5s
      retries: 30

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports: ["9200:9200","9300:9300"]
    volumes:
      - es_data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.14.1
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports: ["5601:5601"]
    depends_on: [elasticsearch]


  logstash:
    build:
      context: ./logstash
      dockerfile: Dockerfile
    environment:
      - LS_JAVA_OPTS=-Xms512m -Xmx512m
    depends_on:
      - db
      - elasticsearch

  pgadmin:
      image: dpage/pgadmin4
      restart: always
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: admin
      ports:
        - "5050:80"
      depends_on:
        - db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ticketmanager
      SPRING_DATASOURCE_USERNAME: tm
      SPRING_DATASOURCE_PASSWORD: tm
    ports:
      - "8081:8080"
    depends_on:
      - db
volumes:
  db_data:
  es_data:
