server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/ticketdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

app:
  jwt:
    secret: "8u3YQpPZL9Jw0fC4a6N8rX2vB5e7H9kQpRsTuVwXyZ123456"
    expiration-minutes: 15
  reset:
    code-expiration-minutes: 10

logging:
  level:
    org.springframework.security: INFO
