server:
  port: 8080

spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.time_zone: UTC
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework.security: INFO

app:
  jwt:
    secret: "8u3YQpPZL9Jw0fC4a6N8rX2vB5e7H9kQpRsTuVwXyZ123456"
    expiration-minutes: 15
  reset:
    code-expiration-minutes: 10
